::-webkit-scrollbar{
   background-color: transparent;
   width: 3px;
   border: none;

}
::-webkit-scrollbar-thumb{
   background-color: #6750A4;
   height: 2px;
   border: none;
}


html{
   overflow-x: hidden;
   overflow-y: hidden;
   height: 100%;
}
body {
	height: 100%;
   min-width: 360px;
   font-size: $textDesktop;
   font-family: 'Montserrat', sans-serif;
   color: var(--text-color);
   font-weight: 400;
   word-wrap: break-word;
   line-height: normal;
   p{
      line-height: normal;
   }
}
h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: $textH1Desktop;
   color: var(--text-color);
}
h2{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: $textH2Desktop;
   color: var(--text-color);
}
.container{
   display: flex;
  max-width: 994px;
  margin: 0 auto;
  padding: 0 15px;
  height: 85vh;
  &_login{
   max-width: 700px;
   height: auto;
   margin-top: 20vh;
  }
}
@media (max-width: 1024px) {
   body{
      height: auto;
   }
   html{
      overflow-y: scroll;
   }   
   body {
      font-size: $textMobile;
   }
   h1{
      font-size: $textH1Mobile;
   }
   h2{
      font-size: $textH2Mobile;
   }

   .container{
      padding: 0 5px;
      min-height: 100%;
      padding-bottom: 7vh;
      &_login{
         height: auto;
         max-width: 600px;
      }
   }
}