
html{
   overflow-x: hidden;
   overflow-y: hidden;
}
body {
	height: 100%;
   min-width: 360px;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   color: var(--text-color);
   font-weight: 400;
   word-wrap: break-word;
   p{
      line-height: 25px;
   }
}
h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 48px;
   color: var(--text-color);
}
h2{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 32px;
   color: var(--text-color);
}

.container{
  max-width: 994px;
  margin: 0 auto;
  padding: 0 15px;
  &_login{
   max-width: 700px;
   margin-top: 20vh;
  }
}
.container-fluid{
   max-width: 1920px;
   margin: 0 auto;
   padding: 0 10px;
}
