@media (max-width: 1024px) {
    .header{
        margin-bottom: 5px;
        &__settings{
            display: block;
        }
    }
    .main{
        min-height: 100%;
        padding: 0px 0px;
        overflow-y: visible;
        margin-bottom: 5px;
    }
    .news{
        padding-bottom: 7vh;
        &__article{
           border-radius: $borderRadiusMobile;
           padding: $paddingMobile;
           margin-bottom: 5px;
        }
     }
     .communities{
        &__search{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            margin-bottom: 5px;
            
        }
        &__content{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            margin-bottom: 5px;
         }
     }
     .messenger{
        padding: $paddingMobile;
        border-radius: $borderRadiusMobile;
     }
     .friends{
        &__search{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            margin-bottom: 5px;
            
        }
        &__requests{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            margin-bottom: 5px;
         }
        &__content{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            margin-bottom: 5px;
         }
     }
          .recommendations{
        padding-bottom: 7vh;
        &__article{
           border-radius: $borderRadiusMobile;
           padding: $paddingMobile;
           margin-bottom: 5px;
        }
     }
     .settings{
        padding: $paddingMobile;
        border-radius: $borderRadiusMobile;
     }
     .profile{
        padding: 0px;
        border-radius: $borderRadiusMobile;
        &__info{
            border-radius: $borderRadiusMobile;
            margin-bottom: 5px;
        }
        &__info-content{
            margin-top: 8vh;
            padding: 0px 15px 0px 0vh;
            min-height: 8vh;
            border-radius: 8px;
        }
        &__ava{
            height: 10vh;
            width: 10vh;
            border-radius: 50%;
            top: -5vh;
            left: 5px;
        }
        &__name{
            font-size: 20px;
        }
        &__info-text{
            padding: 5px 0px 0px 12vh;
            font-size: 10px;
        }        
        &__settings{
            margin-top: 4vh;
        }
        &__friends{
            margin-bottom: 5px;
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            padding-left: 15px;        
         }
         &__photos{
            border-radius: $borderRadiusMobile;
            padding: $paddingMobile;
            &-text{
               display: block;
               margin-bottom: 10px;
            }
            &-box{
               columns: 3;
               height: 15vh;
               img{
                  width: 100%;
                  height: 100%;
                  border-radius: $borderRadiusMobile;
                  border: 2px solid var(--border-color);
                  object-fit: cover;
               }
            }
            &-buttons{
               margin-top: 10px;
               display: flex;
               justify-content: space-evenly;
            }
            &-button{
               width: 400px;
            }
         } 
         &__posts{
            padding: $paddingMobile;
            border-radius: $borderRadiusMobile;
         }
     }     
    .aside{
        display: none;
    }
    .color-theme{
        display: none;
    }
    .changeLanguage{
        display: none;
    }
    .mobile-nav{
        border-top:  solid var(--border-color) 2px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 7vh;
        background-color: var(--background-content);
        @include f(center, center);
        &__nav{
            width: 80%;
            max-width: 500px;
        }
        &__item-box{
            @include f(space-between, center)
        }
    }
    .profile_header{
        p{
            display: none;
        }
    }
}