 
 
 @mixin f ($j, $a) {display: flex; justify-content: $j; align-items: $a;}

 $profileHeight: 4.5vh;

 $textDesktop: 16px;
 $textMobile: 13px;
 $textH1Desktop: 48px;
 $textH1Mobile: 32px;
 $textH2Desktop: 32px;
 $textH2Mobile: 22px;

 $borderRadiusDesktop: 16px;
 $borderRadiusMobile: 10px;

 $paddingDesktop: 15px;
 $paddingMobile: 5px;