
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import './pages/pages';
@import './modals/modals';

body{
   background-color: var(--background);
}
.color-theme{
   cursor: pointer;
   display: flex;
   align-items: center;
   &__btn{
      margin-right: 20px;
      background-color: transparent;
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 3px;
      padding-right: 3px;
      width: 52px;
      height: 32px;
      border-radius: 100px;
      border: 3px solid var(--icons-color);
   }
   &__text{
      color: var(--border-color);
      margin-right: 10px;
   }
   &__btn_right{
      justify-content: end;
   }
   &__item{
      height: 20px;
      width: 20px;
      background-color: var(--icons-color);
      border-radius: 50%;
      transition: all 1s;
   }
}
.header{
   &__settings{
      display: none;
   }
   height: 7vh;
   width: 100%;
   border-bottom: solid var(--border-color) 2px;
   background-color: var(--background-content);
   margin-bottom: 20px;
   &__container{
      padding: 0px $paddingDesktop;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;   
      max-width: 1200px;
   }
   &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.logo{
   display: flex;
   align-items: center;
   cursor: pointer;
   svg{
      margin-right: 10px;
   }
}
.profile_header{
   cursor: pointer;
   display: flex;
   align-items: center;
}
.changeLanguage{
   cursor: pointer;
   user-select: none;
   margin-right: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 32px;
   width: 32px;
   border-radius: 5px;
   border: 2px solid var(--icons-color);
   background-color: var(--border-color);
   color: var(--text-color);
   font-weight: 700;
   text-align: center;
   line-height: 29px;
   font-size: 14px;
}
.main{
   width: 100%;
   height: 100%;
   overflow-y: scroll;

}
.add-post{
   display: flex;
   align-items: center;
   svg{
      margin-right: 10px;
   }
}
.aside{
   margin-right: 20px;
   min-width: 220px;
   border: solid var(--border-color) 2px;
   background-color: var(--background-content);
   border-radius: 16px;
   padding: 15px 5px 15px 5px;
   ul{
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
   }
   li{
      user-select: none;
      display: flex;
      align-items: center;
      height: 30px;
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 5px;
      &:hover{
         background-color: var(--border-color);
      }
      cursor: pointer;
      line-height: 20px;
   }
   &__messenger{
      svg{
         margin-right: 7px;
      }
   }
   &__news{
      svg{
         margin-right: 3px;
      }
   }
   &__recommendations{
      svg{
         margin-right: 3px;
      }
   }
   &__friends{
      svg{
         margin-right: 7px;
      }
   }
   &__communities{
      svg{
         margin-right: 3px;
      }
   }
   &__settings{
      position: absolute;
      bottom: 0;
      left: 0;
      svg{
         margin-right: 3px;
      }
   }
}
.mobile-nav{
   display: none;
}

@import './pages/pagesMedia';
@import 'media';
