:root{
    /* --background-light: Indigo;
    --background-content-light: rgba(255, 255, 255, 1);
    --text-color-light: black; 
    --border-color-light: black;
    --box-shadow-light: rgba(0, 0, 0, 0.3); */
 
    /* --background-dark: Indigo;
    --background-content-dark: rgba(0, 0, 0, 0.8);
    --text-color-dark: white; 
    --border-color-dark: white;
    --box-shadow-dark: rgb(255, 228, 225, 0.3); */
    --contentHeight: 500px;

    --background-light: #FEF7FF;
    --background-content-light: #F7F2FA;
    --text-color-light: black; 
    --border-color-light: #CAC4D0;
    --box-shadow-light: #CAC4D0;

    --background-dark: #141218;
    --background-content-dark: #1D1B20;
    --text-color-dark: white; 
    --border-color-dark: #36343B;
    --box-shadow-dark: #36343B;

    --background: var(--background-dark);
    --background-content: var(--background-content-dark);
    --text-color: var(--text-color-dark); 
    --border-color: var(--border-color-dark);
    --box-shadow: var(--box-shadow-dark);
    --icons-color: #6750A4;
 
  }
