.modal{
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;

    &__close{
        position: fixed;
        top: 30px;
        left: 30px;
        scale: 1.5;
        &:hover{
            scale: 1.1;
            transition: ease-out 0.3s;
        }
    }
    &_active{
        transition: all 0.5s ease-in-out;
        visibility: visible;
        opacity: 1;
    }

    &__content{
        overflow-y: scroll;
        position: fixed;
        z-index: 3;
        max-width: 75%;
        max-height: 75%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @extend %block;
    }


}
