.myModal{
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   display: none;
   background: rgba(0, 0, 0, 0.5);
}

.myModalContent{
   padding: 15px;
   background-color: white;
   border-radius: 15px;
   min-width: 400px;
   min-height: 400px;
}
.myModal.active{
   display: flex;
   justify-content: center;
   align-items: center;
}